<h1>Kingsday 2015</h1>
<div id="tweetsContainer">
    <ul class="tweets">
        <li ng-repeat="tweet in tweets" class="tweetColumn">
            <div class="images">
                <span ng-repeat="media in tweet.entities.media">
                    <img ng-show="media.type =='photo'" src="{{media.media_url}}" alt=""/>
                </span>
            </div>
            <div class="content">
                <p>{{tweet.text}}</p>
            </div>
        </li>
    </ul>
</div>

<button ng-click="loadNewData()" >Load new data</button>